.background {
    background-image: url("../../assets/background.png");
    min-height: 899px;
    opacity: .9;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 0;
    padding-top: .7em;
}
